
body{
	margin-top:0;
	background-color:#94C5CC ;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
}
nav ul li a{
	text-decoration:none;
	color:white;
	padding:1vw;
}

}
nav ul li{
	display:inline;
}
nav ul{
	background-color:black;
	list-style:none;
	margin:0;
	padding:1vw;
}

nav ul li:nth-child(-n+3){
	float:left;
}
nav ul li:last-child{
	float:right;

}
nav ul li:last-child{
	margin-right:5px;
	position: relative;
	top:-17px;
	left:-5px;
}
/*li{
	position:fixed;
	top:0;
	width:100vw;
}*/
.l{
	font-size:14px;
}







img{
	display:block;
	margin:0px auto 0px auto;
	width:30%;
}
.sp *, .ed *{
	text-align:center;
	width:70vw;
	margin:auto;
	margin-top:5px;
}
div div{
	border:2px black solid;
	margin:10px 5px 30px 5px; 
	padding:10px;
	border-radius: 5px;
	background-color:#b4d2e7;
}
div div .sp, .ed{
	display:inline-block;
	border:2px darkgrey solid;
	padding:5px;
	position: relative;
	left:10vw;
	border-radius: 5px;
	background-color:#f8f8f8;
	margin:5px;
}
div div .sp p, .ed p{
	font-size:110%;
}










.ftr{
	 overflow: hidden;
  	 background-color: black;
	 position: fixed; /* Set the navbar to fixed position */
  	 bottom: 0; /* Position the navbar at the bottom of the page */
  	 width: 100%;
  	 list-style: none;
  	 padding:1vw;

}
.main{
	margin-bottom:50px;
}

.ftr li{
	color:white;
	display:inline;
	float:right;
    

}
.ftr a{
	color:white;
}
.ftr li:first-child{
	float:left;
}
.ftr li:nth-child(2), .ftr li:nth-child(3), .ftr li:nth-child(4){
	padding-right: 25px;
} 




/*.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

.f{
	width: 90%;
	height: 80%;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);

}
.f form{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

























ul{
	margin:0;
}



























div div .sp iframe, .ed iframe{
	width:38%;
	height:30vw;
	border:0;
	margin:10px 30% 10px 30%;
}
.ed{
	width:60%;
	height:auto;
	margin:20px 10%;
}
.ed p, .ed h3, .ed h4{
	width:70%;
}



.H h2{
	text-align:center;
	font-family:sans-serif; 
	font-size:140%;
}
.H img{
	margin:5px;
	display:inline;
}







@media screen and (min-width:1024px){
	.res{
		display:flex;
		
	}
	div div .sp{
		display:inline;
		position:static;
		width:50%;
	}
	.res img{
		height:100%;
		margin:auto;
	}

	div div .sp *, .ed{
		width:60%;
	}


	.flex{
		display:inline-flex;
		position:static;
		margin:0;
		}
	.flex img{
		height:35vh;
		margin:auto 2px;
		padding:0;
		width:auto;
	}
	.flex div{
		position:static;
		margin:0;
		width:30%;
	}
	.flex div iframe{
		width:90%;
		height:30%;
		margin:0 4% 0 4%;

	}
}